<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<app-navbar></app-navbar>

<div class="body">
  <div class="container">
    <div class="navbar-navbar-container">
      <div>
        <div *ngIf="isDataFromTitle; else mainLink">
          <button mat-raised-button color="accent" routerLink="">Back</button>
        </div>

        <ng-template #mainLink>
          <button mat-raised-button color="accent" (click)="sendParamsTitle(DataMoviee.title_id, DataMoviee.trailer)">Back</button>
        </ng-template>        

      </div>

      <div class="navbar-text" style="margin-right: 15px">
        <a routerLink="#">Biography</a> • <a routerLink="#">Awards</a> •
        <a routerLink="#">Trivia</a> •
        <a routerLink="#">FAQ</a>
        <hr class="rotated-line" />
        <a routerLink="#">IMDbPro</a>
        <hr class="rotated-line" />
        <button style="display: flex">
          <span class="material-symbols-outlined">action_key</span>
          All topics
        </button>
        <hr class="rotated-line" />
        <mat-icon>share</mat-icon>
      </div>
    </div>

    <div class="navbar-container">
      <div>
          <p class="actor-name">{{ Actor.name }}</p>
          <div class="flex-container">
            <ng-container *ngFor="let lm of Actor.type; let lastActor = last">
              <p>
                <span class="actor-type">{{lm}}</span><span class="colorLastActor">{{!lastActor ? " • " : " "}}</span>
              </p>
            </ng-container>
          </div>
      </div>

      <div>

      </div>
    </div>

    <div class="flex-container">
      <img src="{{ Actor.image }}" class="image-movie" />
      <iframe [src]="trustedUrl" frameborder="0" class="iframe-movie"></iframe>
      <div class="movie-container">
        <div class="movie-video">
          <mat-icon>video_library</mat-icon>
          <span>{{ this.Videos }} VIDEOS</span>
        </div>

        <div class="movie-PHOTOS">
          <mat-icon>photo_library</mat-icon>
          <span>{{ this.Photos }} PHOTOS</span>
        </div>
      </div>
    </div>

    <div class="container-detail">
      <span>{{ Actor.detail }}</span>
      <hr />
  </div>

  </div>
</div>
